<% include ../partials/header %>
<div class="container">
    <span class="hidden" id="dayId"><%= day._id %></span>
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align: center">Fitting Schedule <%= day.date %></h2>
            <div class="row" style="display:flex; flex-wrap: wrap;">
                <% day.slots.forEach(function(slot){ %>
                    <div class="col-sm-3 solidborder">
                        <strong><%= slot.time %></strong>
                        <% var remaining = slot.max - slot.students.length; %>
                        <span>(</span>
                        <span class="availSlots"><%=remaining%></span>
                        <span>)</span>
                    <ul class="list-group schedList">
                        <% slot.students.forEach(function(student){ %>
                                <li class="list-group-item schedStud">
                                    <span name="studentText"><%= student.fullName + "(" + student.grade + ")" %></span>
                                    <span name="studentId" class="hidden"><%= student._id %></span>
                                </li>
                        <% }) %>
                    </ul>                        

                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <div style="width: 20%; margin: 25px auto;"class="well">
          <a href="/events/<%= eventId %>/days">Go back to day list</a>
    </div> 
</div>
 
<% include ../partials/footer %>
