<% include ../partials/header %> 

     <header>
         <div class="container">
             <h1>Days in Event <%= event.name %></h1>
             <p class="role_wa">
                <a class="btn btn-primary btn-lg" href="days/new">Add New Day</a>
             </p>
         </div>
     </header>
     
<div class="container dayList">
    <table>
     <% event.days.forEach(function(day){ %>
        <tr>
            <form style="display: inline" action="/days/<%=day._id%>?_method=DELETE" method="POST">
                <td> <%= day.date %> </td> 
                <td> <a href="/days/<%=day._id%>/edit" class="hidden" class="btn btn-xs btn-info">EDIT</a></td>
                <td> 
                    <a href="/events/<%= event._id %>/days/<%=day._id%>/school" class="btn btn-xs btn-info role_sc">SCHEDULE</a>            
                    <a href="/events/<%= event._id %>/days/<%=day._id%>" class="btn btn-xs btn-info role_al">SCHEDULE</a></td> 
                <td> <button class="hidden" class="btn btn-xs btn-danger">DELETE</button></td> 
            </form>
        </tr>
       <% }); %>
    </table>
</div>

<% include ../partials/footer %>
