<% include ../partials/header %>
<div class="container">
    <span class="hidden" id="dayId"><%= day._id %></span>
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align: center">Fitting Schedule <%= day.date %></h2>
            <div class="row" style="display:flex; flex-wrap: wrap;">
                <% day.slots.forEach(function(slot){ %>
                    <div class="col-sm-3 solidborder">
                        <span class="slot-time"><%= slot.time %></span>
                        <% var remaining = slot.max - slot.students.length; %>
                        <span class="availDelim">(</span>
                        <span class="availSlots"><%=remaining%></span>
                        <span class="availDelim">)</span>
                    <ul class="list-group schedList">
                        <% slot.students.forEach(function(student){ %>
                                <li class="list-group-item schedStud">
                                    <span name="studentText"><%= student.fullName + "(" + student.grade + ")" %></span>
                                    <span name="studentId" class="hidden"><%= student._id %></span>
                                </li>
                        <% }) %>
                    </ul>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="margin: 10px auto;">
        <div class="text-center">
        <a class="btn btn-info" href="/events/<%= eventId %>/days/<%= prevDayId %>"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="btn btn-info" href="/events/<%= eventId %>/days">List days</a>
        <a class="btn btn-info" href="/events/<%= eventId %>/days/<%= nextDayId %>"><span class="glyphicon glyphicon-chevron-right"></a>
        </div>
    </div>
</div>

<% include ../partials/footer %>
