<% include ../partials/header %>

<h1>Days in  <%= new Date().getFullYear() %></h1>

<div class="container">
    <table class="dayList" style="font-size: 18px;">
        <tbody>
            <tr>
                <td colspan="2" style="background-color: #dff0d8;">Next Available Day &nbsp;</td>
                <td>
                    <a href="/days/nextAvail" class="btn btn-xs btn-primary role_al role_wa role_sc">Schedule</a>
                </td>
            </tr>
            <% global.days.forEach(function(day){ %>
                <tr>
                    <% var d=day.date; %>
                    <td><%= dateFunc.dayNames[d.getUTCDay()] %>&nbsp;</td>
                    <td><%= (d.getUTCMonth() + 1) + "/" + d.getUTCDate() %> &nbsp;</td>
                    <td>
                        <form style="display: inline">
                            <a href="/students/<%=day._id%>" class="btn btn-xs btn-primary">Students</a>
                            <a href="/days/<%=day._id%>" class="btn btn-xs btn-primary">Schedule</a>
                        </form>
                    </td>
                </tr>
            <% }); %>
       </tbody>
    </table>
</div>

<% include ../partials/footer %>
