<% include ../partials/header %>

<style>
.slot-time {
    font-size: 1.25em;
    font-weight: bold;
}
.availSlots,
.availDelim
{
    font-size: 1.25em;
}
.solidborder {
    border-style: solid;
    border-width: 1px;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align: center">Fitting Schedule for <%= dateFunc.dayString(day.date) %></h2>
            <div class="row" style="display:flex; flex-wrap: wrap;">
                <% for (var i = 0, iLim = day.slots.length; i < iLim; i++){ %>
                    <div class="col-sm-3 solidborder">
                        <span class="slot-time"><%= dateFunc.timeString(day.slots[i].sdate) %></span>
                        <span class="availDelim">(</span>
                        <span class="availSlots"><%= day.slots[i].avCnt %></span>
                        <span class="availDelim">)</span>
                    <ul class="list-group">
                        <% sched[i].students.forEach(function(student){ %>
                                <li class="list-group-item" style="padding: 2px 10px;">
                                    <span name="studentText"><%= student.fullName + " (" + student.grade + ")" %></span>
                                    <span name="studentId" class="hidden"><%= student._id %></span>
                                </li>
                        <% }) %>
                    </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="margin: 10px auto;">
        <div class="text-center">
        <a class="btn btn-info" href="/days/<%= prevDayId %>"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="btn btn-info" href="/days">List days</a>
        <a class="btn btn-info" href="/days/<%= nextDayId %>"><span class="glyphicon glyphicon-chevron-right"></a>
        </div>
    </div>
</div>

<% include ../partials/footer %>
