<% include ../partials/header %>
<%
function timeString(d) {
    var h=d.getHours();
    var ap;
    if (h>12) {
        h=h-12;
        ap="PM";
    }
    else {
        ap="AM";
    }
    var m = d.getMinutes();
    if (m==0) {
        m="00";
    }
    return h + ":" + m + " " + ap;
}
%>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align: center">Fitting Schedule: <%= day.date.toLocaleDateString("en-US", {weekday: 'long', year: '2-digit', month: '2-digit', day: 'numeric'}) %></h2>
            <div class="row" style="display:flex; flex-wrap: wrap;">
                <% for (var i = 0, iLim = day.slots.length; i < iLim; i++){ %>
                    <div class="col-sm-3 solidborder">
                        <span class="slot-time"><%= timeString(day.slots[i].sdate) %></span>
                        <span class="availDelim">(</span>
                        <span class="availSlots"><%= day.slots[i].avCnt %></span>
                        <span class="availDelim">)</span>
                    <ul class="list-group">
                        <% sched[i].students.forEach(function(student){ %>
                                <li class="list-group-item schedStud">
                                    <span name="studentText"><%= student.fullName + "(" + student.grade + ")" %></span>
                                    <span name="studentId" class="hidden"><%= student._id %></span>
                                </li>
                        <% }) %>
                    </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="margin: 10px auto;">
        <div class="text-center">
        <a class="btn btn-info" href="/days/<%= prevDayId %>"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="btn btn-info" href="/days">List days</a>
        <a class="btn btn-info" href="/days/<%= nextDayId %>"><span class="glyphicon glyphicon-chevron-right"></a>
        </div>
    </div>
</div>

<% include ../partials/footer %>
