<% include ../partials/header %>
  <h1 style="text-align: center">Add Students <%= day.date %></h1>
  <div style="width: 30%; margin: 25px auto;"class="well">
      <a href="/days">Go Back</a>
  </div>

  <ul class="list-group">
      <% students.forEach(function(student) { %>
        <li class="list-group-item"><%= student.fname + " " + student.lname %><span name="studentId" class="hidden"><%= student._id %></span></li>
      <% }) %>
  </ul>
 <!--<p id=selectedStudentId </p>-->
   <% day.slots.forEach(function(slot){ %>
      <div class="row well">
        <%= slot.time %>
        <%= slot.max %>
        <%= "students:" %>
        <% slot.students.forEach(function(student){ %>
          <%= student %>
        <% }) %>
            <form action="/slots/<%=slot._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="hidden" type="text" name="selectedStudentId">
                    <!--<input class="form-control" type="text" name="selectedStudentId" value="58f2a0db206fa46d1a105671">-->
                    <input type="submit" value="Add student">
                    <!--<button class="btn btn-lg btn-primary" name="addStudentBtn">Add student!</button>-->
                </div>
            </form>        
      </div>
  <% }) %>
  <script type="text/javascript" src="/scripts/selectStudent.js"></script>
<% include ../partials/footer %>
