<% include ../partials/header %>
<div class="container">
 <span class="hidden" id="dayId"><%= day._id %></span>
  <h1 style="text-align: center">Add Students <%= day.date %></h1>
<div class="row">

<div class="col-sm-6" style="background-color:pink;">

   <% day.slots.forEach(function(slot){ %>
   <div class="row">
<div class="col-sm-6" style="background-color:grey;">
    <h3><%= slot.time %></h3>
        <ul>        
        <% var cnt = 0; %>
        <% slot.students.forEach(function(student){ %>
           <% if (student.school == school) { %>
            <li><%= student.fname + " " + student.lname %></li>
            <% } %>
            <% cnt+=1; %>
        <% }) %>
        </ul>
        </div>
        <div class="col-sm-6" style="background-color:green;"> 
        <% var slotsLeft = slot.max - cnt; %>
        <% if (slotsLeft > 0) { %>
            <%= slotsLeft + " appointments available" %>        
             <form method="POST">
                <div class="form-group">
                    <input class="hidden" type="text" name="slotId" value="<%= slot._id %>">
                    <button type=submit disabled=disabled name="addStudentBtn">Add student</button>
                    <!--<input type="submit" disabled=disabled name="addStudentBtn" value="Add student">-->
                </div>
            </form>
            <% } %>
        </div>
  </div>
  <% }) %>

  </div>
<div class="col-sm-6" style="background-color:yellow;">
    <h3>Unscheduled Students</h3>
  <ul class="list-group">
      <% students.forEach(function(student) { %>
        <li class="list-group-item"><%= student.fname + " " + student.lname + ", grade " + student.grade%>
        <span name="studentId" class="hidden"><%= student._id %></span></li>
      <% }) %>
  </ul>
 </div>  
 </div>
<div style="width: 30%; margin: 25px auto;"class="well">
      <a href="/days">Go Back</a>
  </div>
 </div>
 <script src="/scripts/selectStudent.js"></script>
<% include ../partials/footer %>
