<% include ../partials/header %>
 <span class="hidden" id="dayId"><%= day._id %></span>
  <h1 style="text-align: center">Add Students <%= day.date %></h1>
  <div style="width: 30%; margin: 25px auto;"class="well">
      <a href="/days">Go Back</a>
  </div>

  <ul class="list-group">
      <% students.forEach(function(student) { %>
        <li class="list-group-item"><%= student.fname + " " + student.lname %><span name="studentId" class="hidden"><%= student._id %></span></li>
      <% }) %>
  </ul>
   <% day.slots.forEach(function(slot){ %>
      <div class="row well">
        <%= slot.time %>
        <%= slot.max %>
        <%= "students:" %>
        <% slot.students.forEach(function(student){ %>
           <% if (student.school == school) { %>
            <%= student.fname + " " + student.lname %>
        <% } %>
        <% }) %>
             <form method="POST">
                <div class="form-group">
                    <input class="hidden" type="text" name="slotId" value="<%= slot._id %>">
                    <!--<input class="form-control" type="text" name="selectedStudentId" value="58f2a0db206fa46d1a105671">-->
                    <input type="submit" disabled=disabled name="addStudentBtn" value="Add student">
                </div>
            </form>        
      </div>
  <% }) %>
  <script src="/scripts/selectStudent.js"></script>
<% include ../partials/footer %>
