<% include ../partials/header %> 

     <header>
         <div class="container">
             <h1>Schools</h1>
             <p>
                <a class="btn btn-primary btn-lg" href="/schools/new">Add New School</a>
             </p>
         </div>
     </header>
    <table class="table table-striped">
         <thead>
             <tr>
             <th>Name</th>
             <th>Quota</th>
             <th>Students Entered</th>
             <th>Students scheduled</th>         
             </tr>
        </thead>
         <tbody>
         <% schools.forEach(function(school){ %>
            <tr>
                <td><%= school.name %></td>
                <td><%= school.quota %></td>
                <td><%= school.count %></td>
                <td><%= school.unschedCount %></td>
                <td>
                    <form style="display: inline" action="/schools/<%=school._id%>?_method=DELETE" method="POST">
                        <a href="/schools/<%=school._id%>/edit" class="btn btn-xs btn-info">EDIT</a>
                        <button class="hidden" class="btn btn-xs btn-danger">DELETE</button>
                </form>
                </td>            
            </tr>
        <% }); %>
        </tbody>
    </table>

<% include ../partials/footer %>
