<% include ../partials/header %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/css/theme.bootstrap_3.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.widgets.min.js"></script>
    <header>
        <h1>
            <span>Schools</span>
            <a class="btn btn-primary btn-sm pull-right" href="/schools/new">Add New School</a>
         </h1>
    </header>
    <table id="schoolTable" class="table table-striped tablesorter">
         <thead>
             <tr>
             <th>Name</th>
             <th>District</th>
             <th>Quota</th>
             <th>Quota Available</th>
             <th>Quota Unscheduled</th>
             <th>Students Served</th>
             </tr>
        </thead>
         <tbody>
         <% schools.forEach(function(school){ %>
            <tr>
                <td><%= school.name %></td>
                <td><%= school.district %></td>
                <td><%= school.quota %></td>
                <td><%= school.quota - school.count %></td>
                <td><%= school.quota - school.schedCount %></td>
                <td><%= school.servedCount %></td>
                <td>
                    <form style="display: inline" action="/schools/<%=school._id%>?_method=DELETE" method="POST">
                        <a href="/schools/<%=school._id%>/edit" class="btn btn-xs btn-info">EDIT</a>
                        <button class="hidden" class="btn btn-xs btn-danger">DELETE</button>
                </form>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>

<script>
$(function(){
  $("#schoolTable").tablesorter(
      { theme: 'bootstrap',
        headerTemplate : '{content} {icon}',
        widgets : [ "uitheme" ]
      });
});
</script>

<% include ../partials/footer %>
