<% include ../partials/header %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/css/theme.bootstrap_3.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.widgets.min.js"></script>
    <header>
        <h1>
            <span>Schools</span>
            <a class="btn btn-primary btn-sm pull-right role_wa" href="/schools/new">Add New School</a>
         </h1>
    </header>
    <%
    var unasgn, unsched,
        userTot=0,
        qTot=0,
        filledTot=0,
        schedTot=0,
        servedTot=0;
    %>
    <table id="schoolTable" class="table table-striped tablesorter">
        <thead>
            <tr>
                <th>Name</th>
                <th>School Code</th>
                <th>#Users</th>                
                <th>District</th>
                <th>Quota</th>
                <th>Percent Filled</th>
                <th>Percent Scheduled</th>
                <th>Students Served</th>
            </tr>
        </thead>
        <tbody>
            <% schools.forEach(function(school){ %>
                <tr>
                    <%
                    userTot+=school.nbrUsers;
                    qTot+=school.quota;
                    filledTot+=school.nbrStudents;
                    schedTot+=school.schedCount;
                    servedTot+=school.servedCount;
                    %>
                    <td><%= school.name %></td>
                    <td><%= school.schoolCode %></td> 
                    <td><%= school.nbrUsers %></td>                    
                    <td><%= school.district %></td>
                    <td><%= school.quota %></td>
                    <td><%= (school.nbrStudents * 100 / school.quota).toFixed(1) %></td>
                    <td><%= (school.schedCount * 100 / school.quota).toFixed(1) %></td>
                    <td><%= school.servedCount %></td>
                    <td>
                        <form style="display: inline" action="/schools/<%=school._id%>?_method=DELETE" method="POST">
                            <a href="/schools/<%=school._id%>/edit" class="btn btn-xs btn-primary">Edit</a>
                            <button class="hidden" class="btn btn-xs btn-danger">DELETE</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
        <tfoot>
             <tr>
                <td>Totals</td>
                <td></td>
                <th>#Users</th>                                
                <td></td>                
                <td>Quota</td>
                <td>Percent Filled</td>
                <td>Percent Scheduled</td>
                <td>Students Served</td>
                <td></td>
            </tr>
             <tr>
                <td></td>
                <td></td>
                <th><%= userTot %></th>                                
                <td></td>                
                <td><%= qTot %></td>
                <td><%= (filledTot * 100 / qTot).toFixed(1) %></td>
                <td><%= (schedTot * 100 / qTot).toFixed(1) %></td>
                <td><%= servedTot %></td>
                <td></td>
            </tr>
        </tfoot>
    </table>

<script>
$(function(){
  $("#schoolTable").tablesorter(
      { theme: 'bootstrap',
        headerTemplate : '{content} {icon}',
        widgets : [ "uitheme" ]
      });
});
</script>

<% include ../partials/footer %>
