<% include ../partials/header %>
<!-- tablesorter files -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/css/theme.bootstrap_3.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.widgets.min.js"></script>

<%
function missed(date) {
    if (date == null) {
        return false;
    }
    var mm=(date.getMonth() + 1).toString();
    if (mm.length == 1) {
        mm="0" + mm;
    }
    var dd=date.getDate().toString();
    if (dd.length == 1) {
        dd="0" + dd;
    }
    return todayMMDD > (mm + dd);
}

function dateString(d) {
    var dayNames = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
    var h=d.getHours();
    var ap;
    if (h>12) {
        h=h-12;
        ap="PM";
    }
    else {
        ap="AM";
    }
    var m = d.getMinutes();
    if (m==0) {
        m="00";
    }
    return dayNames[d.getDay()] + " " + (d.getMonth() + 1) + "/" + d.getDate() + "/" + (d.getFullYear() - 2000) + " " + h + ":" + m + " " + ap;
}

var nbrStudents = 0;
if (qrySchool.students) {
    nbrStudents = qrySchool.students.length;
}
%>

    <h2><%=qrySchool.name + " -- Allotment: " + qrySchool.quota + ",  Remaining: "%><span id='remaining'><%= (qrySchool.quota - nbrStudents) %></h2>
    <% if (qrySchool.quota - nbrStudents > 0) { %>
        <div style="width: 100%; margin: 25px auto;">
            <form class="form-inline hidden-print" id=newStudentForm>
                <h3>Add Student&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="addMsg"></span></h3>
                <span id=newStudCtrl>
                <div class="form-group">
                    <input id="fname" class="form-control" type="text" name="firstName" placeholder="first name*">
                </div>
                <div class="form-group">
                    <input id="lname" class="form-control" type="text" name="lastName" placeholder="last name*">
                </div>
                <div class="form-group">
                    <select id="gradeSelect" class="form-control" name="grade">
                        <option disabled="disabled" selected="selected" value="">grade* (K-12)</option>
                        <option value="K">K</option>
                        <% for (var i=1; i<13; i++) { %>
                            <option value=<%=i%>><%=i%></option>
                           <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <button type=submit class="btn btn-md btn-primary btn-block">Save</button>
                </div>
                </span>
            </form>
            <p></p>
    <% } %>
     <table id="studentTable" class="table table-striped tablesorter">
         <thead>
             <tr>
             <th>First Name</th>
             <th>Last Name</th>
             <th>Grade</th>
             <th>Added By</th>             
             <th class="sorter-shortDate dateFormat-ddmmyyyy">Scheduled</th>
             <th>Served</th>
             </tr>
        </thead>
    <tbody id='studentList'>
    <% if (qrySchool.students) { %>        
     <% qrySchool.students.forEach(function(student){ %>
        <tr>
            <td><%= student.fname %></td>
            <td><%= student.lname %></td>
            <td><%= student.grade %></td>
            <td>
              <% if (student.addedBy) { %>            
                  <%= student.addedBy.name %>
                  <% } %>                  
            </td>
            <% if (student.slot && student.slot.sdate) { %>
                <td><%= dateString(student.slot.sdate) %></td>
            <% } else { %>
                <td></td>
                <% } %>
            <td>
                <% if (student.served) { %>
                    <p class="bg-success">Yes</p>
                <% } else if (student.slot != null && missed(student.slot.sdate)) { %>
                        <p class="bg-danger">NO</p>
                <% } else { %>
                        <p>no</p>
                <% } %>
            </td>
            <td class="hidden-print">
            <form style="display: inline">
                <a href="/students/<%=student._id%>/edit" class="btn btn-xs btn-primary">Edit</a>
                <% if (!student.served && student.slot != null && !missed(student.slot.sdate)) { %>
                    <a href="/students/<%=student._id%>/printPass" class="btn btn-xs btn-primary">Passport</a>
                <% } %>
            </form>
            </td>
        </tr>
    <% }); %>
   <% } %>
  </tbody>
 </table>
<script src="/js/ajax.js"></script>

<script>
$(document).ready(function() {
    $('#gradeSelect').css('color','gray');
    $('#gradeSelect').change(function() {
        $('#gradeSelect').css('color','black');
    });
    $('#fname').change(function() {
        $('#fname').css('color','black');
    });
    $('#lname').change(function() {
        $('#lname').css('color','black');
    });
});

$(function(){
  $("#studentTable").tablesorter(
      { theme: 'bootstrap',
        headerTemplate : '{content} {icon}',
        widgets : [ "uitheme" ]
      });
});
</script>

<% include ../partials/footer %>
