<% include ../partials/header %>

<!-- Bootstrap-select files -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>
-->

<!-- tablesorter files -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/css/theme.bootstrap_3.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.widgets.min.js"></script>

<%
function missed(date) {
    if (date == null) {
        return false;
    }
    var mm=(date.getMonth() + 1).toString();
    if (mm.length == 1) {
        mm="0" + mm;
    }
    var dd=date.getDate().toString();
    if (dd.length == 1) {
        dd="0" + dd;
    }
    return todayMMDD > (mm + dd);
}

function dateString(d) {
    var dayNames = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
    var h=d.getHours();
    var ap;
    if (h>12) {
        h=h-12;
        ap="PM";
    }
    else {
        ap="AM";
    }
    var m = d.getMinutes();
    if (m==0) {
        m="00";
    }
    return dayNames[d.getDay()] + " " + (d.getMonth() + 1) + "/" + d.getDate() + "/" + (d.getFullYear() - 2000) + " " + h + ":" + m + " " + ap;
}
%>

    <h2><%=qrySchool.name + " -- Allotment: " + qrySchool.quota + ",  Remaining: "%><span id='remaining'><%= (qrySchool.quota-students.length) %></h2>
    <% if (qrySchool.quota-students.length > 0) { %>
        <div style="width: 100%; margin: 25px auto;">
            <form action="/students" method="POST" class="form-inline" id=newStudentForm>
                <h3>Add Student          <span id="addMsg"></span></h3>
                <div class="form-group">
                    <input class="form-control" type="text" name="firstName" placeholder="first name*">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastName" placeholder="last name*">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="grade" placeholder="grade (K or 1-12)*">
                </div>
                <div class="form-group">
                    <button type=submit class="btn btn-md btn-primary btn-block">Save</button>
                </div>
            </form>
            <p></p>
    <% } %>

     <table id="studentTable" class="table table-striped tablesorter">
         <thead>
             <tr>
             <th>First Name</th>
             <th>Last Name</th>
             <th>Grade</th>
             <th class="sorter-false">Scheduled</th>
             <th>Served</th>
             </tr>
        </thead>
    <tbody id='studentList'>
     <% students.forEach(function(student){ %>
        <tr>
            <td><%= student.fname %></td>
            <td><%= student.lname %></td>
            <td><%= student.grade %></td>
            <td>
            <select class="selectpicker schedStdnt">
                <option value=
            <% if (student.slot != null) { %>
                <%= student.slot.sdate.toISOString() %>
            <% } %>
                >
            <% if (student.slot != null) { %>
                <%= dateString(student.slot.sdate) %>
            <% } %>
            </option>
            </select>
            </td>
            <td>
                <% if (student.served) { %>
                    <p class="bg-success">Yes</p>
                <% } else if (student.slot != null && missed(student.slot.sdate)) { %>
                        <p class="bg-danger">NO</p>
                <% } else { %>
                        <p>no</p>
                <% } %>
            </td>
            <td>
             <form style="display: inline" action="/students/<%=student._id%>?_method=DELETE" method="POST">
                <a href="/students/<%=student._id%>/edit" class="btn btn-xs btn-primary">Edit</a>
                <button class="delStudBtn btn btn-xs btn-danger pull-right">Delete</button>
            </form>
            </td>
        </tr>
    <% }); %>
        </tbody>
    </table>
<script src="/js/ajax.js"></script>

<script>

$(document).ready(function () {

$('.selectpicker').selectpicker({
  style: 'btn-info',
  size: 20
});

$(function(){
  $("#studentTable").tablesorter(
      { theme: 'bootstrap',
        headerTemplate : '{content} {icon}',
        widgets : [ "uitheme" ]
      });
});
});

</script>
<% include ../partials/footer %>
