<% include ../partials/header %>

<%

function dateTimeString(d) {
    var dayNames = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
    var h=d.getHours();
    var ap;
    if (h>12) {
        h=h-12;
        ap="PM";
    }
    else {
        ap="AM";
    }
    var m = d.getMinutes();
    if (m==0) {
        m="00";
    }
    return dayNames[d.getDay()] + " " + (d.getMonth() + 1) + "/" + d.getDate() + "/" + (d.getFullYear() - 2000) + " " + h + ":" + m + " " + ap;
}

// function dateString(d) {
//     var dayNames = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
//     return dayNames[d.getDay()] + " " + (d.getMonth() + 1) + "/" + d.getDate() + "/" + (d.getFullYear() - 2000);
// }

function timeString(d) {
    var h=d.getHours();
    var ap;
    if (h>12) {
        h=h-12;
        ap="PM";
    }
    else {
        ap="AM";
    }
    var m = d.getMinutes();
    if (m==0) {
        m="00";
    }
    return h + ":" + m + " " + ap;
}
%>

    <div class="row">
        <h1 style="text-align: center">Edit <%= student.fname + " " + student.lname %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/students/<%=student._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="fname">First Name*:</label>
                    <input class="form-control" id="fname" type="text" name="firstName" value="<%= student.fname %>">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name*:</label>
                    <input class="form-control" id="lname" type="text" name="lastName" value="<%= student.lname %>">
                </div>
                <div class="form-group">
                    <label for="grade">Grade (K or 1-12)*:</label>
                    <input class="form-control" id="grade" type="text" name="grade" value="<%= student.grade %>">
                </div>
                <% if(student.slot){ %>
                    <div class="form-group">
                        <p style="font-size: 1.25em;">Scheduled for <%= dateTimeString(student.slot.sdate) %></p>
                        <div class="checkbox">
                              <label><input id="unschedCB" type="checkbox" name="unschedule" value="y"><span style="font-size: 1.25em;">Check box to unschedule Student</span></label>
                        </div>
                    </div>
                <% } %>
                <div id="schedForm" class="form-group">
                    <label>Schedule student:</label>
                    <select id="dateSched" name="dateSched">
                        <option value="" selected>Select date</option>
                    </select>
                    <select id="timeSched" name="timeSched" disabled>
                        <option value="" selected>Select time</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Save</button>
                </div>
            </form>
            <a href="/students">Cancel</a>
            <a href="/students/<%=student._id%>?_method=DELETE">Delete Student</a>
        </div>
    </div>
    <span class="hidden" id="slotsAvail"></span>
<script src="/scripts/editStudent.js"></script>
<script>
// $(document).ready(function () {

getAvailDates();
// });
</script>

<% include ../partials/footer %>

