<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Edit <%= student.fname + " " + student.lname %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/students/<%=student._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="fname">First Name*:</label>
                    <input class="form-control" id="fname" type="text" name="firstName" value="<%= student.fname %>">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name*:</label>
                    <input class="form-control" id="lname" type="text" name="lastName" value="<%= student.lname %>">
                </div>
                <div class="form-group">
                    <label for="grade">Grade (K or 1-12)*:</label>
                    <input class="form-control" id="grade" type="text" name="grade" value="<%= student.grade %>">
                </div>
                <% if(student.day){ %>
                    <div class="form-group">
                        <p style="font-size: 1.25em;">Scheduled for <%= student.day.date %>, <%= student.slot.time %></p>
                        <div class="checkbox">
                              <label><input type="checkbox" name="unschedule" value="y"><span style="font-size: 1.25em;">Check box to unschedule Student</span></label>
                        </div>
                    </div>
                <% } %>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Save</button>
                </div>
            </form>
            <a href="/students">Cancel</a>
        </div>
    </div>
<% include ../partials/footer %>

