<% include ../partials/header %>
<style>
input[type=checkbox] {
    transform: scale(1.5);
}
</style>
<%
function dateTimeString(d) {
    var dayNames = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
    var h=d.getHours();
    var ap;
    if (h>12) {
        h=h-12;
        ap="PM";
    }
    else {
        ap="AM";
    }
    var m = d.getMinutes();
    if (m==0) {
        m="00";
    }
    return dayNames[d.getDay()] + " " + (d.getMonth() + 1) + "/" + d.getDate() + "/" + (d.getFullYear() - 2000) + " " + h + ":" + m + " " + ap;
}
%>

    <div class="row">
        <h1 style="text-align: center">Fix <%= student.fname + " " + student.lname %></h1>
        <div style="width: 50%; margin: 25px auto;">
            <h4>This page enables the AL to correct data for a student served in a time slot that differed from their scheduled date in the database.</h4>
            <br>
            <h5>Name and grade schould generally be set only by school counselors.</h5>
            <form action="/students/fix/<%=student._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="fname">First Name:</label>
                    <input class="form-control" id="fname" type="text" name="firstName" value="<%= student.fname %>">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name:</label>
                    <input class="form-control" id="lname" type="text" name="lastName" value="<%= student.lname %>">
                </div>
                <div class="form-group">
                    <label for="grade">Grade (K or 1-12):</label>
                    <select id="gradeSelect" name="grade">
                        <option value="K">K</option>
                        <% for (var i=1; i<13; i++) { %>
                            <option value=<%= i %> ><%= i %></option>
                           <% } %>
                    </select>
                </div>
                <h4>You can mark the student as served in a past time slot but cannot schedule or unschedule a student.</h4>
                <div class="form-group">
                    <label>Served:&nbsp;</label>
                        <input type="checkbox" name="served" id="servedCB" value="y">                    
                </div>
                <% if (student.slot){ %>
                    <div>
                        <p></p>
                        <p style="font-size: 1.25em;">Scheduled for <%= dateTimeString(student.slot.sdate) %></p>
                        <p></p>
                    </div>
                <% } %>
                <div id="schedForm" class="form-group">
                    <label>Select Served Time Slot:&nbsp;</label>
                    <select id="dateSched" name="dateSched">
                        <option value="" selected>Select date</option>
                    </select>
                    <select id="timeSched" name="timeSched" disabled>
                        <option value="" selected>Select time</option>
                    </select>
                </div>
                <div class="form-group">
                    <button id="saveStudBtn" class="btn btn-lg btn-primary">Save changes</button>
                </div>
            </form>
            <a href="/students/showFind">Cancel Fix</a>
        </div>
    </div>
    <span class="hidden" id="slotsAvail"></span>
  
<script src="/scripts/fixStudent.js"></script>
<script>
$(document).ready(function () {
    document.getElementById("gradeSelect").value = "<%=student.grade %>";
    document.getElementById("servedCB").checked  = <%=student.served %>;    
    getPastDates();
    });
</script>

<% include ../partials/footer %>

