<% include ../partials/header %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.10/css/theme.bootstrap_3.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.10/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.10/js/jquery.tablesorter.widgets.min.js"></script>

     <header>
        <h1>Students</h1>
     </header>

     <table id="studentTable" class="table table-striped tablesorter">
         <thead>
             <tr>
             <th>First Name</th>
             <th>Last Name</th>
             <th>School</th>
             <th>Grade</th>
             <th>Day</th>
             <th>Time</th>
             <th>Served</th>
             </tr>
        </thead>
    <tbody id='studentList'>
     <% students.forEach(function(student){ %>
        <tr>
            <td><%= student.fname %></td>
            <td><%= student.lname %></td>
            <td><%= student.school %></td>
            <td><%= student.grade %></td>
            <td><% if (student.day != null) { %>
                <%= student.day.date %>
                <% } %></td>
            <td><% if (student.slot != null) { %>
                <%= student.slot.time %>
                <% } %></td>
            <td>
                <% if (student.checkedIn) { %>
                <button type="button" class="btn btn-xs btn-primary checkIn"><span class="glyphicon glyphicon-ok"></span></button>
                <% } else { %>
                <button type="button" class="btn btn-xs btn-default checkIn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                <% } %>
                <span class="hidden" type="text" name="studentId"><%= student._id %></span>
                <span class="hidden" name="checkedIn"><%= student.checkedIn %></span>
            </td>
        </tr>
    <% }); %>
    </tbody>
    </table>

<script>
$(function(){
  $("#studentTable").tablesorter(
      { theme: 'bootstrap',
        headerTemplate : '{content} {icon}',
        widgets : [ "uitheme" ]
      });
});
</script>
<script src="/scripts/checkIn.js"></script>
<% include ../partials/footer %>
