<% include ../partials/header %> 

     <header>
         <div class="container">
              <h1>Students</h1>
             <h2><%=qrySchool.name + " -- Quota: " + qrySchool.quota + ",  Remaining: "%><span id='remaining'><%= (qrySchool.quota-students.length) %></h2>
          </div>
     </header>
     
    <% if (qrySchool.quota-students.length > 0) { %>     
        <div style="width: 100%; margin: 25px auto;">
            <form action="/students" method="POST" class="form-inline" id=newStudentForm>
                <h2 style="text-align: center">Create a New Student</h2>                
                <div class="form-group">
                    <input class="form-control" type="text" name="firstName" placeholder="first name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastName" placeholder="last name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="gender" placeholder="gender">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="grade" placeholder="grade">
                </div>
                <div class="form-group">
                    <button type=submit class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
    <% } %>     
     <table class="table table-striped">     
         <thead>
             <tr>
             <th>First Name</th>
             <th>Last Name</th>
             <th>Gender</th>
             <th>Grade</th>
             <th>Day</th>
             <th>Time</th>
             </tr>
        </thead>     
    <tbody id='studentList'>
     <% students.forEach(function(student){ %>
        <tr>
            <td><%= student.fname %></td>
            <td><%= student.lname %></td>
            <td><%= student.gender %></td>
            <td><%= student.grade %></td>
            <td><% if (student.day != undefined) { %>
                <%= student.day.date %></td>
                <% } %>
            <td><% if (student.slot != undefined) { %>
                <%= student.slot.time %></td>
                <% } %>
            <td>
             <form style="display: inline" action="/students/<%=student._id%>?_method=DELETE" method="POST">
                <a href="/students/<%=student._id%>/edit" class="btn btn-xs btn-info">EDIT</a>
                <button class="hidden" class="btn btn-xs btn-danger">DELETE</button>
            </form>                
            </td>
        </tr>
    <% }); %>
        </tbody>
    </table>    
<script src="/scripts/ajax.js"></script>
<% include ../partials/footer %>
