<% include ../partials/header %>

<%

function dateTimeString(d) {
    var dayNames = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
    var h=d.getHours();
    var ap;
    if (h>12) {
        h=h-12;
        ap="PM";
    }
    else {
        ap="AM";
    }
    var m = d.getMinutes();
    if (m==0) {
        m="00";
    }
    return dayNames[d.getDay()] + " " + (d.getMonth() + 1) + "/" + d.getDate() + "/" + (d.getFullYear() - 2000) + " " + h + ":" + m + " " + ap;
}

%>

    <div class="row">
        <h1 style="text-align: center">Passport for <%= student.fname + " " + student.lname %></h1>
        <div style="width: 50%; margin: 25px auto;">
            <p>First Name: <%= student.fname %></p>
            <p>Last Name: <%= student.lname %></p>
            <p>Grade: <%= student.grade %></p>
            <p></p>
            <p style="font-size: 1.25em;">Scheduled for <%= dateTimeString(student.slot.sdate) %></p>
            <p></p>
            <p></p>
            <button class="btn btn-md btn-primary hidden-print" onclick="myFunction()">Print Passport</button>
        </div>
    </div>

<script>
function myFunction() {
    window.print();
}
</script>

<% include ../partials/footer %>

