<% include ../partials/header %>

<div class="row">
    <h2>Students In Database</h2>
    <table style="font-size: 1.25em;">
    <tbody >
        <tr>
            <td>Unscheduled:</td>
            <td style="text-align:right;"><%= stats.unsched %></td>
        </tr>
        <tr>
            <td>Scheduled (not yet served):&nbsp;&nbsp;</td>
            <td style="text-align:right;"><%= stats.sched - stats.served %></td>
        </tr>
        <tr>
            <td>Scheduled (served):</td>
            <td style="text-align:right;"><%= stats.served %></td>
        </tr>
    </tbody>
    <tfoot style="font-weight: bold">
        <tr>
            <td>Total:</td>
            <td style="text-align:right;"><%= stats.unsched + stats.sched %></td>
        </tr>
    </tfoot>
</table>
<br><br>
<h4>Remaining allotment to be scheduled: <%= stats.totalQuota - stats.sched %> (of total allotment <%= stats.totalQuota %>)</h4>
<h4>Future (after <%= stats.futureDate %>) fittings available: <%= stats.futureSlotsAvail %></h4>
<p>Note: these are slots at least an hour from now, on the assumption the student would need to be notified at least an hour in advance. </p>
</div>

<% include ../partials/footer %>
