<% include ../partials/header %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/css/theme.bootstrap_3.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.widgets.min.js"></script>

    <header>
        <h1>
            <span>Users</span>
            <a class="btn btn-primary btn-sm pull-right" href="/users/new">Add New User</a>
        </h1>
    </header>
    <table id="userTable" class="table table-striped tablesorter">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>School</th>
                <th>UserName</th>
                <th>PIN</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user){ %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.school %></td>
                    <td><%= user.username %></td>
                    <td><%= user.PIN %></td>
                    <td><%= user.role %></td>
                    <td>
                        <form style="display: inline" action="/users/<%=user._id%>?_method=DELETE" method="POST">
                            <a href="/users/<%=user._id%>/edit" class="btn btn-xs btn-info">EDIT</a>
                            <button class="delUserBtn btn btn-xs btn-danger">DELETE</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

<script>
$(function(){
  $("#userTable").tablesorter(
      { theme: 'bootstrap',
        headerTemplate : '{content} {icon}',
        widgets : [ "uitheme" ]
      });
});

$(".delUserBtn").on('click', function (e) {
    // if (confirm("Ready to delete " + student.fullName + ". Click cancel or OK.") == true
    var tds = $(this).parent().parent().siblings();
    if (confirm("Ready to delete " + tds[0].innerText + ".  Click Cancel or OK.") != true) {
        e.preventDefault();
    }
});
</script>

<% include ../partials/footer %>
